<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Health Payer Processor</title>
  </head>
  <body>
    <h1><%= @title %></h1>
    <ul>
        <% @arrays.each do |id, fname, lname, pos| %>
          <li>
            <%= id %> <%= fname %> <%= lname %> <%= pos %>
          </li>
        <% end %>
    </ul>
      
  </body>
</html>