<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Health Payer Processor</title>
    <style>
      td{padding: 8px;}
    </style>
  </head>
  <body>
    <h1><%= @title %></h1>
    <h2>Open File Test</h2>
    <form method="post" enctype="multipart/form-data">
      <input type="openfile" name="openmyfile"><br>
      <input type="submit" value="Open File">
    </form>
    <h3>Output Open File</h3>
    <hr>
    
    <h2>File Upload Test</h2>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="myfile"><br>
      <input type="submit" value="Upload">
    </form>
    <h2>Extraction Test</h2>
    <h3>CSV Table</h3>
    <table border="1">
        <% @csv_arrays.each do |id, fname, lname, pos| %>
          <tr>
            <td><%= id %></td>
            <td><%= fname %></td>
            <td><%= lname %></td>
            <td><%= pos %></td>
          </tr>
        <% end %>
    </table>
    <h3>XLSX Table</h3>
    <table border="1">
        <% @xlsx_arrays.each do |id, fname, lname, pos| %>
          <tr>
            <td><%= id %></td>
            <td><%= fname %></td>
            <td><%= lname %></td>
            <td><%= pos %></td>
          </tr>
        <% end %>
    </table>  
  </body>
</html>